<a href="<{$targetpost}>?hidop=adding" style="text-decoration:none;color:#0052D9;">
  [add]
  新增Script
</a>

<br>

<{*將php傳來的變數，轉成固定名稱的變數，讓section迴圈使用*}>
<{php}>
  $this->_tpl_vars['rows'] = array();
  $this->_tpl_vars['rows'] = $this->_tpl_vars['installscripts'];
<{/php}>

<{if count($rows) <= 0 }>
  無資料
<{else}>
  <table class="stats" cellspacing="0">
  <tr>
    <td class="hed">描述</td>
    <td class="hed">檔案路徑</td>
    <td class="hed">產生安裝檔</td>
    <td class="hed" width="40">修改</td>
    <td class="hed" width="40">刪除</td>  
  </tr>
  <{section name=num01 loop=$rows}>
    <tr>
      <td><{$rows[num01].description|default:"&nbsp;"}></td>
      <td>
        <{$rows[num01].path|default:"&nbsp;"}>
      </td>
      <td>
        <a href="<{$targetpost}>?hidop=exportinstallscript&id=<{$rows[num01].id}>">[產生]</a>
      </td>
      <td>
        <div align="center">
          <a href="<{$targetpost}>?hidop=editing&id=<{$rows[num01].id}>&project_id=<{$rows[num01].project_id}>">
            修改
          </a>
        </div>
      </td>
      <td>
        <div align="center">
          <a href="<{$targetpost}>?id=<{$rows[num01].id}>&hidop=del"  onclick="return confirm('真的要刪除嗎？')">
            刪除
          </a>
        </div>
      </td>
    </tr>
  <{/section}>
  </table>
  
  <{* 分頁 *}>
  <{$viewlist}>
  
<{/if}>