<{*將php傳來的變數，轉成固定名稱的變數，讓section迴圈使用*}>
<{php}>
  $this->_tpl_vars['row'] = array();
  $this->_tpl_vars['row'] = $this->_tpl_vars['page'];
<{/php}>

<form id="form1" name="form1" method="post" action="<{$targetpost}>">
  Page區塊資料<br />

  <table class="stats" cellspacing="0">
    <tr>
      <td class="hed">Page區塊資料夾名稱</td>
      <td>
        <input name="name" type="text" value="<{$row.name}>"/>
      </td>
    </tr>
    <tr>
      <td class="hed">描述</td>
      <td><input name="description" type="text" value="<{$row.description}>"/></td>
    </tr>
    <tr>
      <td class="hed">tpl的名稱</td>
      <td>
        *如果是輸入example，那實際的tpl檔名就是example.tpl.htm<br>
        *取代預設的view.tpl.htm<br>
        <input name="tplname" type="text" value="<{$row.tplname}>"/>
      </td>
    </tr>
    <tr>
      <td class="hed">所包含的Block區塊</td>
      <td>
        *這裡是可以複選的<br>
        <{php}>
          $this->_tpl_vars['rows'] = array();
          $this->_tpl_vars['rows'] = $this->_tpl_vars['blocks'];
        <{/php}>
        <select id="block_hide_select" onchange="xajax_ajax_block_update(<{$id}>,this.options[this.selectedIndex].value,'add')">
          <option value="">請選擇Block區塊</option>
          <{section name=num01 loop=$rows}>
            <option value="<{$rows[num01].id}>">
            <{$rows[num01].name}>
            </option>
          <{/section}>
        </select>
        <div id="useblock"></div>
      </td>
    </tr>
    <tr>
      <td class="hed">是否啟用</td>
      <td>
        <input type="radio" name="enable" VALUE="1" 
          <{* 預設的radio是選擇啟用 *}>
          <{if $row.enable > 0 }>
            checked
          <{/if}>
        />啟用<br>
        <input type="radio" name="enable" VALUE="0" 
          <{* 只要欄位有特價區域，修改的時候就會出現 *}>
          <{if $row.enable <= 0 or $row.enable == '' }>
            checked
          <{/if}>        
        />停用<br>
      </td>
    </tr>
    <tr>
      <td class="hed">php程式內容</td>
      <td>
        <font color="red">*放PHP程式的東西</font><br>
        
        <{* 插入資料表別名 *}>
        <{php}>
          $this->_tpl_vars['rows'] = array();
          $this->_tpl_vars['rows'] = $this->_tpl_vars['tablenames'];
        <{/php}>
        <select id="php_tablename_id" onchange="js_insert_text('phpbody',this.options[this.selectedIndex].value);this.selectedIndex=0">
          <option value="">插入資料表別名</option>
          <{section name=num01 loop=$rows}>
            <option value="<{$rows[num01].alias}>">
              <{$rows[num01].name}>
            </option>
          <{/section}>
        </select>
        
        <{* 插入PHP函式 *}>
        <{php}>
          $this->_tpl_vars['rows'] = array();
          $this->_tpl_vars['rows'] = $this->_tpl_vars['phpfunctions'];
        <{/php}>
        <select id="php_phpfunction_id" onchange="js_insert_text('phpbody',this.options[this.selectedIndex].value);this.selectedIndex=0">
          <option value="">插入PHP函式</option>
          <{section name=num01 loop=$rows}>
            <option value="<{$rows[num01].selectvalue}>">
              <{$rows[num01].selecttext}>
            </option>
          <{/section}>
        </select>
        
        <br>
        
        <textarea id="phpbody" name="phpbody" cols="40" rows="30" onkeydown="TraceCursorPosition(this)" onkeypress="TraceCursorPosition(this)" onfocus="TraceCursorPosition(this)" onselect="TraceCursorPosition(this)" onmouseover="TraceCursorPosition(this)" onmousedown="TraceCursorPosition(this)"><{$row.phpbody}></textarea>
      </td>
    </tr>
    <tr>
      <td class="hed">tpl版面內容</td>
      <td>
        <font color="red">*放html的東西，可以有Smarty的程式碼</font><br>
        <textarea name="tplbody" cols="40" rows="30"><{$row.tplbody}></textarea>
      </td>
    </tr>
  </table>
  <br>
   
  <input name="id" type="hidden" value="<{$id}>" />
  <input name="project_id" type="hidden" value="<{$project_id}>" />
  <input name="hidop" type="hidden" value="<{$hidop}>" />
  <input value="送出" type="submit" />

</form>

<script type="text/javascript">
  <{* 當頁面被載入時要先做的事情 *}>
  window.onload= function(){ 
    xajax_ajax_block_update(<{$id}>,'','update');
  }<{* 函式結束 window.onload  *}>
</script>