<div id="my_menu" class="sdmenu">
      <div>
        <span>專案管理</span>
        <a href="dase-project.php?hidop=list">專案列表</a>
        <a href="dase-type.php?hidop=list">欄位型態列表</a>
        <a href="dase-language.php?hidop=list">程式種類列表</a>
      </div>
      <div>
        <span>函式庫管理</span>        
        <a href="dase-library-category.php?hidop=list">函式分類列表</a>
        <a href="dase-library-subdir.php?hidop=list">函式次資料夾列表</a>
        <a href="dase-library-item.php?hidop=list">函式列表</a>
        <a href="dase-library-file.php?hidop=list">函式檔案列表</a>
      </div>
      <div>
        <span>範本管理</span>
        <a href="dase-proc-example.php?hidop=list">程序範本</a>
        <a href="dase-block-example.php?hidop=list">Block區塊範本</a>
        <a href="dase-page-example.php?hidop=list">Page區塊範本</a>
        <a href="dase-signal-example.php?hidop=list">Signal區塊範本</a>
        <a href="dase-controller-example.php?hidop=list">Controller區塊範本</a>
      </div>
      <div>
        <span>安裝Script管理</span>
        <a href="dase-install-script.php?hidop=list">Script列表</a>
        <a href="dase-package-company.php?hidop=list">套件公司及套件列表</a>
      </div>
      <div>
        <span>片斷程式碼管理</span>
        <a href="dase-code.php?hidop=list">程式碼列表</a>
        <a href="dase-search.php?hidop=list">程式碼搜尋</a>
      </div>
</div>

<{* 這個會把選單的設定load進來 *}>
<script type='text/javascript' src='includes/sdmenu/load-sdmenu.js'></script>