<form id="form1" name="form1" method="post" action="<{$targetpost}>">

  <{* 即時搜尋 *}>
  在此填入你想要搜尋的程式碼別名關鍵字:<br>
  <input type="text" id="searchcode_fd_input" name="searchcode_fd_input" autocomplete="off" size="30"class="yui-skin-sam"/>
  <div id="searchcode_autocomplete_container" align="left" class="yui-skin-sam"></div>
  
  <br>
  
  以下是搜尋的結果:<br>
  <table cellspacing="0" border="1">
    <tr>
      <td>程式碼別名</td>
      <td><input id="alias" type="text" readonly /></td>
    </tr>
    <tr>
      <td>程式語言</td>
      <td><input id="language_name" type="text" readonly/></td>
    </tr>
    <tr>
      <td>描述</td>
      <td><input id="description" type="text" readonly/></td>
    </tr>
    <tr>
      <td>程式碼內容</td>
      <td><textarea id="codebody" cols="40" rows="30" readonly></textarea></td>
    </tr>
  </table>
</form>
  
<script type="text/javascript">  
YAHOO.example.searchcodes = function() {
    <{* 因為yahoo ui預設會送?query引數
      * 所以在php看到的會是$_GET["?query"]，要注意
      *}>
    var oDS = new YAHOO.util.XHRDataSource("search-engine.php?hidop=searchcodes");
    <{* Set the responseType *}>
    oDS.responseType = YAHOO.util.XHRDataSource.TYPE_TEXT;
    
    <{* 以tab做為分欄的訊號 *}>
    oDS.responseSchema = {
        recordDelim: "\n",
        fieldDelim: "\t"
    };
    <{* Enable caching *}>
    <{* oDS.maxCacheEntries = 5; *}>

    <{* Instantiate the AutoComplete *}>
    var oAC = new YAHOO.widget.AutoComplete("searchcode_fd_input", "searchcode_autocomplete_container", oDS);
    oAC.resultTypeList = false;
    
    <{* 可以更改原本的query引數名稱，和加入其他的引數進來 *}>
    oAC.generateRequest = function(sQuery) { 
      return "&query=" + sQuery ; 
    }; 
    
    var myHandler = function(sType, aArgs) {
        var oData = aArgs[2];
        
        <{* 把search-engine.php所傳來的debug訊息，透過xajax送到前端去 *}>
        //xajax_ajax_searchengine_debug(oData[2]);
        
        <{* 把的屬性值給帶進來 *}>
        xajax_ajax_code_update(oData[1]);
                
    }; <{* myHandler *}>
    
    oAC.itemSelectEvent.subscribe(myHandler);

    return {
        oDS: oDS,
        oAC: oAC
    };
}();
</script>