<{*將php傳來的變數，轉成固定名稱的變數，讓section迴圈使用*}>
<{php}>
  $this->_tpl_vars['row'] = array();
  $this->_tpl_vars['row'] = $this->_tpl_vars['category'];
<{/php}>

<form id="form1" name="form1" method="post" action="<{$targetpost}>">
  函式分類資料<br />

  <table class="stats" cellspacing="0">
    <tr>
      <td class="hed">分類名稱</td>
      <td>
        <input name="name" type="text" value="<{$row.name}>"/>
      </td>
  </table>
  <br>
   
  <input name="id" type="hidden" value="<{$id}>" />
  <input name="hidop" type="hidden" value="<{$hidop}>" />
  <input value="送出" type="submit" />

</form>