<{* 這個是yahoo ui的Calendar模組 *}>
<link rel="stylesheet" type="text/css" href="includes/yui/build/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="includes/yui/build/container/assets/skins/sam/container.css" />
<link rel="stylesheet" type="text/css" href="includes/yui/build/calendar/assets/skins/sam/calendar.css" />
<script type="text/javascript" src="includes/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="includes/yui/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="includes/yui/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="includes/yui/build/button/button-min.js"></script>
<script type="text/javascript" src="includes/yui/build/container/container-min.js"></script>
<script type="text/javascript" src="includes/yui/build/calendar/calendar-min.js"></script>
<{* 這個是設定檔 *}>
<script type='text/javascript' src='includes/myjs/calender.js'></script>