<{* yahoo ui的autocomplete模組 *}>
<link rel="stylesheet" type="text/css" href="includes/yui/build/autocomplete/assets/skins/sam/autocomplete.css" />
<script type="text/javascript" src="includes/yui/build/animation/animation-min.js"></script>
<script type="text/javascript" src="includes/yui/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="includes/yui/build/autocomplete/autocomplete-min.js"></script>
<script type="text/javascript" src="includes/yui/build/connection/connection-min.js"></script>